@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yellowtail&display=swap);

body {
    font-family: "Roboto";
}

span,
p,
a {
    font-family: "Open Sans";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1595px;
    margin: 0 auto;
    padding: 0 20px;
}

/* site-header */
.site-header {
    background-color: #fff 90%;
    padding: 69px 162px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-logo__link {
    margin-right: auto;
}

.site-nav {
    margin-right: 130px;
}

.site-nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.site-nav__item:not(:last-child) {
    margin-right: 40px;
}

.site-nav__link {
    color: #274C5B;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    transition: all 0.3s ease-in-out;
}

.site-nav__link:hover {
    color: #64ffda;
}

.site-header__span {
    display: inline-block;
    width: 376px;
    height: 66px;
    padding: 5px 6px 5px 314px;
    cursor: pointer;
    background-color: #FAFAFA;
    border-radius: 36px;
}

.site-header-span__icon {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 17px 17px 17px 17px;
    background-color: #7EB693;
    border-radius: 50px;
}

.site-header__btn {
    border: 1px solid #E0E0E0;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 23px 5px 6px;
    border-radius: 33px;
    cursor: pointer;
}

.site-header-btn__icon {
    background-color: #274C5B;
    margin-right: 12px;
    padding: 17px;
    border-radius: 50px;
}

.site-header__btn-text {
    font-weight: 600;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    color: #274C5B;
}

.hero {
    position: relative;
}

.hero__title {
    font-family: "Roboto";
    font-weight: 800;
    font-style: Bold;
    font-size: 70px;
    line-height: 100%;
    color: #274C5B;
    position: absolute;
    top: 40%;
    left: 40%;
}

.hero__image {
    max-width: 100%;
}

/* team */


.team-box-top-title-h2 {
    font-family: "Yellowtail";
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    line-height: 100%;
    color: #7EB693;
    text-align: center;
    margin-top: 150px;
}

.team-box-top-title-h3 {
    font-family: "Roboto";
    font-weight: 800;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    color: #274C5B;
    text-align: center;
    margin-bottom: 16px;
}

.team-box-top-text {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 165%;
    color: #525C60;
    text-align: center;
    max-width: 852px;
    margin: 0 auto;
    padding-bottom: 42px;
}

.team__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 120px;
}

.team__box {
    box-shadow: 0px 29px 44px 0px #96969640;
    border-radius: 33px;
}

.team__info {
    padding: 35px 28px;
    display: flex;
    align-items: end;
    justify-content: center;

}

.team__info-box {
    margin-right: 120px;
}

.team__name {
    font-family: "Roboto";
    font-weight: 800;
    font-style: Bold;
    font-size: 25px;
    line-height: 100%;
    color: #274C5B;
}

.team__role {
    font-family: "Yellowtail";
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 100%;
    color: #7EB693;
}

.team__social:not(:last-child) {
    margin-right: 17px;
}

.footer-container {
    display: flex;
    margin-top: 120px;
    padding: 0 331px;
    margin-bottom: 138px;
}

.footer-column {
    width: 285px;

}

.right {
    padding-right: 51px;
    border-right: 1px solid #D4D4D4;
}

.footer-column:not(:last-child) {
    margin-right: 92px;
}

.footer-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    color: #274C5B;
    margin-bottom: 32px;
    text-align: end;
}

.contact-info p {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 165%;
    text-align: right;
    color: #525C60;

}

.contact-info p:not(:last-child) {
    margin-bottom: 20px;
}

.contact-info p strong {
    font-weight: 700;
    font-style: Bold;
}

.newsletter__container {
    background: url("../about_images/newsletter-bg.svg") center/cover no-repeat;
    color: #fff;
    border-radius: 33px;
    max-width: 1400px;
    width: 100%;
    height: 323px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 141px;
}

.newsletter__title {
    font-weight: 800;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    color: #fff;
}

.newsletter__form {
    margin-left: 326px;
    display: flex;
    justify-content: center;
}

.newsletter__input {
    padding: 15px;
    border: none;
    border-radius: 16px;
    margin-right: 6px;
    width: 349px;
    height: 80px;
}

.newsletter__button {
    background-color: #274C5B;
    color: #fff;
    border: none;
    padding: 28px 64px;
    border-radius: 16px;
    cursor: pointer;
    height: 80px;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    transition: all 0.3s ease-in-out;

}

.newsletter__button:hover {
    background-color: #64ffda;
    color: #274C5B;
}

.footer-column--center {
    text-align: center;
    width: 543px;
}

.footer-logo {
    display: block;
    margin-bottom: 23px;
}

.footer-description {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    color: #525C60;
    margin-bottom: 49px;
}

.footer-social-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-link:not(:last-child) {
    margin-right: 15px;
}

.social-icon-link img {
    padding: 20px;
    border-radius: 33px;
    background-color: #EFF6F1;
}

.footer-title-left {
    text-align: left;
}

.left {
    border-left: 1px solid #D4D4D4;
    padding-left: 51px;
}

.footer-menu li a {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 250%;
    color: #525C60;
    transition: all 0.3s ease-in-out;
}

.footer-menu li a:hover {
    color: #274C5B;
}

.footer-bottom {
    border-top: 1px solid #D4D4D4;
    text-align: center;
    padding: 17px 610px;
}